#pageResult {
    background: url("/assets/images/end.gif") no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
.result{
    font-size: 15px;
    color : white;
}