@import url("https://fonts.googleapis.com/css?family=Dosis");


#pageResult {
    background: url("assets/images/end.gif") no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;

}

.filter{
    background: rgba(0,0,0,0.6);
}
.result{
    font-family: "dosis",sans-serif;
    font-size: 20px;
    color : white;
    text-align: center;
}